<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskTrackerPrototype</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            font-family: 'Century Gothic', serif;
            text-align: left;
            width: 100%;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-#4475A0 border-bottom box-shadow mb-3" style="background-color: #4475A0;">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="navbar-brand" style="color: whitesmoke" asp-area="" asp-controller="Tasks" asp-action="Index"><img src="/Content/translogo.png" style="width:180px;height:60px;" /></a>
            }
            else
            {
                <a class="navbar-brand" style="color: whitesmoke" asp-area="" asp-controller="Home" asp-action="Index"><img src="/Content/translogo.png" style="width:180px;height:60px;" /></a>
            }
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <div class="col">
                    @if (User.Identity.IsAuthenticated)
                    {
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Goals" asp-action="Index">Goals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Objectives" asp-action="Index">Objectives</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Records" asp-action="Index">Records</a>
                        </li>
                    </ul>
                    }
                </div>
                <div class="col">
                    <h1 a class="navbar-brand" style="color: whitesmoke">
                        @DateTime.Today.DayOfWeek
                        @DateTime.Today.ToShortDateString()
                    </h1>
                </div>
                <div class="col">
                    <ul class="nav navbar-nav navbar-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a style="color: whitesmoke" id="qsLogoutBtn" asp-controller="Account" asp-action="Logout">Logout</a></li>
                        }
                        else
                        {
                            <li><a style="color: whitesmoke" id="qsLoginBtn" asp-controller="Account" asp-action="Login">Login</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col">
                    &copy; 2021 - PLANR - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                <div class="col">
                    <a asp-area="" asp-controller="Help" asp-action="Index">Help</a>
                </div>
                <div class="col">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-area="" asp-controller="Events" asp-action="Index">View and record Events</a>
                    }
                </div>
                <div class="col">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-area="" asp-controller="Tasks" asp-action="All">View all tasks</a>
                    }
                </div>
            </div>
            </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


