@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To PlanR</h1>
    <p>Meet Your Developer: <a href="https://www.linkedin.com/in/david-w-ramsay/">David Ramsay</a></p>
</div>
