@model PLANR.Models.Task

@{
    ViewData["Title"] = "Migrate";
}

<h4>Actions: Migrate or Mark as Complete</h4>
<hr />
<h1>Task: @Model.TaskName</h1>
<hr />
<h2>Due Date: @Model.TaskDueDate.ToShortDateString()</h2>
<hr/>
<h4>Migrate:</h4>
                <div class="row">
                    <div class="col">
                        <form method="post" asp-action="Migrate30">
                            <input type="hidden" asp-for="Taskid" />
                            <input type="submit" class="btn btn-primary" value="1 Month" />
                        </form>
                    </div>
                    <div class="col">
                        <form method="post" asp-action="Migrate7">
                            <input type="hidden" asp-for="Taskid" />
                            <input type="submit" class="btn btn-primary" value="1 Week" />
                        </form>
                    </div>
                    <div class="col">
                        <form method="post" asp-action="Migrate1">
                            <input type="hidden" asp-for="Taskid" />
                            <input type="submit" class="btn btn-primary" value="1 Day" />
                        </form>
                    </div>
                </div>
<hr />
            <div>
                <div>
                    <div>
                        @if (Model.TaskStatus)
                        {
                            <h4>Task is complete.</h4>
                            <form method="post" asp-action="MarkToDo">
                                <input type="hidden" asp-for="Taskid" />
                                <input type="submit" class="btn btn-primary" value="Mark To Do" />
                            </form>
                        }
                        else
                        {
                            <h4>Task is to-do.</h4>
                            <form method="post" asp-action="MarkComplete">
                                <input type="hidden" asp-for="Taskid" />
                                <input type="submit" class="btn btn-primary" value="Mark Done" />
                            </form>
                        }
                    </div>
                </div>
            </div>
                <hr/>
            
    <a style=" vertical-align: text-bottom;" asp-action ="Index">Back to List</a>


