@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Help</h2>

<p>The premise of this app is simple- Start at categories and work your way across. You'll move on to goals, then objectives, then finally tasks, events, and records.</p>
<p><h2>Categories:</h2>Categories are where you outline the general areas of your life that you will be working on using this app. </p>
<p><h2>Goals:</h2>Goals are where you outline the broad subjective things that you want to get done in each of your categories. Example: get in better shape. </p>
<p><h2>Objectives:</h2>Objectives are where you outline the specific, objective things that you want to get done within each of your goals. They are defined by metrics. Example: lose 10 lbs, the metric being lbs. </p>
<p><h2>Tasks:</h2>Tasks are bite-sized chunks of an objective that you can get done in one day. For example, to lose 10lbs, I may include "eat 2500 calories" and set the due date as tonight at midnight.</p>
<p><h2>Events:</h2>Events allow you to record major things that influenced your growth in a specific objective or category. Example: Gave birth. </p>
<p><h2>Records:</h2>Records allow you to record a specific metric value at a specific point in time. </p>